<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SysctlGuiApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.params.user.ManageFavoritesParamsActivity"
            android:label="@string/tasker_list_plugin_favorites"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.params.edit.EditKernelParamActivity"
            android:label="@string/edit_params"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.params.user.ManageOnStartUpParamsActivity"
            android:label="@string/manage_parameters"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.start.StartErrorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.tasker.TaskerPluginActivity"
            android:exported="true"
            android:label="@string/tasker_settings">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widgets.FavoritesWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorites_widget_info" />
        </receiver>
        <receiver
            android:name=".receivers.TaskerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.TaskerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.StartUpService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.LegacyStartUpService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".widgets.FavoritesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".services.tiles.StartUpTileService"
            android:exported="false"
            android:icon="@drawable/ic_start_up_tile"
            android:label="@string/tile_toggle_start_up_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.tiles.StartAppTileService"
            android:exported="false"
            android:icon="@drawable/ic_start_app_tile"
            android:label="@string/tile_start_app_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>
